@model BookStore.Models.KHACHHANG
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DangNhap</h2>
<table align="center" style="font-size: 16px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height: 40px">
            <td>Username</td>
            <td>
                @Html.TextBox("Taikhoan")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height: 40px">
            <td>Password</td>
            <td>
                @Html.TextBox("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height: 40px">
            <td></td>
            <td>
                <input type="submit" value="Log in" />
            </td>
        </tr>
    }
</table>
